<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwkj.lzda.dao.ArcAbroadInfoMapper">
  <resultMap id="BaseResultMap" type="com.mwkj.lzda.model.ArcAbroadInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="job_position" jdbcType="VARCHAR" property="jobPosition" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="begin_time" jdbcType="VARCHAR" property="beginTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="approve_organization" jdbcType="VARCHAR" property="approveOrganization" />
    <result column="fund_source" jdbcType="VARCHAR" property="fundSource" />
    <result column="goabroad_reason" jdbcType="VARCHAR" property="goabroadReason" />
    <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
    <result column="archive_type" jdbcType="INTEGER" property="archiveType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="report" jdbcType="LONGVARCHAR" property="report" />
  </resultMap>
</mapper>