<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwkj.lzda.dao.ArcFamilyAbroadSavingsMapper">
  <resultMap id="BaseResultMap" type="com.mwkj.lzda.model.ArcFamilyAbroadSavings">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="job_position" jdbcType="VARCHAR" property="jobPosition" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="change" jdbcType="VARCHAR" property="change" />
    <result column="family_name" jdbcType="VARCHAR" property="familyName" />
    <result column="family_appellation" jdbcType="VARCHAR" property="familyAppellation" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
    <result column="archive_type" jdbcType="INTEGER" property="archiveType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
</mapper>