<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwkj.lzda.dao.ArcLeaveofficeHandoverMapper">
  <resultMap id="BaseResultMap" type="com.mwkj.lzda.model.ArcLeaveofficeHandover">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="job_position" jdbcType="VARCHAR" property="jobPosition" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="during_time" jdbcType="VARCHAR" property="duringTime" />
    <result column="to_organization" jdbcType="VARCHAR" property="toOrganization" />
    <result column="to_job_position" jdbcType="VARCHAR" property="toJobPosition" />
    <result column="document_handover" jdbcType="VARCHAR" property="documentHandover" />
    <result column="office_handover" jdbcType="VARCHAR" property="officeHandover" />
    <result column="life_handover" jdbcType="VARCHAR" property="lifeHandover" />
    <result column="debt" jdbcType="VARCHAR" property="debt" />
    <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
    <result column="archive_type" jdbcType="INTEGER" property="archiveType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="other_handover" jdbcType="LONGVARCHAR" property="otherHandover" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
</mapper>