<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwkj.lzda.dao.PunGiftMapper">
  <resultMap id="BaseResultMap" type="com.mwkj.lzda.model.PunGift">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="job_position" jdbcType="VARCHAR" property="jobPosition" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="gift_name" jdbcType="VARCHAR" property="giftName" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="gift_person_name" jdbcType="VARCHAR" property="giftPersonName" />
    <result column="gift_person_org" jdbcType="VARCHAR" property="giftPersonOrg" />
    <result column="gift_person_job" jdbcType="VARCHAR" property="giftPersonJob" />
    <result column="gift_time" jdbcType="VARCHAR" property="giftTime" />
    <result column="gift_address" jdbcType="VARCHAR" property="giftAddress" />
    <result column="regist_org" jdbcType="VARCHAR" property="registOrg" />
    <result column="handle_person_id" jdbcType="INTEGER" property="handlePersonId" />
    <result column="handle_person" jdbcType="VARCHAR" property="handlePerson" />
    <result column="charge_person_id" jdbcType="INTEGER" property="chargePersonId" />
    <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="attachment_id" jdbcType="VARCHAR" property="attachmentId" />
    <result column="punish_type" jdbcType="INTEGER" property="punishType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="handle_info" jdbcType="LONGVARCHAR" property="handleInfo" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>

</mapper>