<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwkj.lzda.dao.PunishMapper">

    <select id="findAllPunishByConditions" parameterType="com.mwkj.lzda.dto.PunishDTO"
            resultType="com.mwkj.lzda.dto.PunishDTO">
        select * from (

        select p.id as punish_id, p.user_id,o.id as organization_id,p.user_name,u.police_code,o.name as
        organization_name
        ,p.punish_type,p.operator, p.create_time from
        (
        SELECT *
        from pun_violation
        <where>
            <if test="userName!=null and userName!=''">
                and user_name like '%${userName}%'
            </if>
            <if test="punishType!=null and punishType!=''">
                and punish_type = #{punishType}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id = #{userId}
            </if>
        </where>
        ) p
        left join user u on p.user_id = u.id
        left join organization o on o.id = u.organization_id

        <!-- union all

         select p.id as punish_id, p.user_id,o.id as organization_id,p.user_name,u.police_code,o.name as organization_name
         ,p.punish_type,p.operator,p.create_time from
         (
         SELECT *
         from pun_accountability
         <where>
             <if test="userName!=null and userName!=''">
                 and user_name like '%${userName}%'
             </if>
             <if test="punishType!=null and punishType!=''">
                 and punish_type = #{punishType}
             </if>
         </where>
         ) p
         left join user u on p.user_id = u.id
         left join organization o on o.id = u.organization_id-->

        union all

        select p.id as punish_id, p.user_id,o.id as organization_id,p.user_name,u.police_code,o.name as
        organization_name
        ,p.punish_type,p.operator,p.create_time from
        (
        SELECT *
        from pun_gift
        <where>
            <if test="userName!=null and userName!=''">
                and user_name like '%${userName}%'
            </if>
            <if test="punishType!=null and punishType!=''">
                and punish_type = #{punishType}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id = #{userId}
            </if>
        </where>
        ) p
        left join user u on p.user_id = u.id
        left join organization o on o.id = u.organization_id

        <!-- union all

         select p.id as punish_id, p.user_id,o.id as organization_id,p.user_name,u.police_code,o.name as organization_name
         ,p.punish_type,p.operator,p.create_time from
         (
         SELECT *
         from pun_notice
         <where>
             <if test="userName!=null and userName!=''">
                 and user_name like '%${userName}%'
             </if>
             <if test="punishType!=null and punishType!=''">
                 and punish_type = #{punishType}
             </if>
         </where>
         ) p
         left join user u on p.user_id = u.id
         left join organization o on o.id = u.organization_id-->

        union all

        select p.id as punish_id, p.user_id,o.id as organization_id,p.user_name,u.police_code,o.name as
        organization_name
        ,p.punish_type,p.operator,p.create_time from
        (
        SELECT *
        from pun_report
        <where>
            <if test="userName!=null and userName!=''">
                and user_name like '%${userName}%'
            </if>
            <if test="punishType!=null and punishType!=''">
                and punish_type = #{punishType}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id = #{userId}
            </if>
        </where>
        ) p
        left join user u on p.user_id = u.id
        left join organization o on o.id = u.organization_id

        <!--union all

        select p.id as punish_id, p.user_id,o.id as organization_id,p.user_name,u.police_code,o.name as organization_name
        ,p.punish_type,p.operator,p.create_time from
        (
        SELECT *
        from pun_talk
        <where>
            <if test="userName!=null and userName!=''">
                and user_name like '%${userName}%'
            </if>
            <if test="punishType!=null and punishType!=''">
                and punish_type = #{punishType}
            </if>
        </where>
        ) p
        left join user u on p.user_id = u.id
        left join organization o on o.id = u.organization_id-->

        ) punishs
        <where>
            <if test="policeCode!=null and policeCode!=''">
                and punishs.police_code = #{policeCode}
            </if>
            <if test="organizationId!=null and organizationId!=''">
                and punishs.organization_id = #{organizationId}
            </if>
        </where>
        order by punishs.create_time desc

    </select>


    <select id="findAllPunishCounts" parameterType="com.mwkj.lzda.dto.PunishDTO" resultType="java.lang.Long">
        <!--select(-->
        <!--(-->
        <!--select count(*)-->
        <!--from pun_violation p-->
        <!--left join user u on p.user_id = u.id-->
        <!--left join organization o on o.id = u.organization_id-->
        <!--<where>-->
            <!--<if test="userName!=null and userName!=''">-->
                <!--and p.user_name like '%${userName}%'-->
            <!--</if>-->

            <!--<if test="punishType!=null and punishType!=''">-->
                <!--and p.punish_type = #{punishType}-->
            <!--</if>-->

            <!--<if test="policeCode!=null and policeCode!=''">-->
                <!--and u.police_code = #{policeCode}-->
            <!--</if>-->

        <!--</where>-->
        <!--)-->


        <!--+-->

        <!--(-->
        <!--select count(*)-->
        <!--from pun_report p-->
        <!--left join user u on p.user_id = u.id-->
        <!--left join organization o on o.id = u.organization_id-->
        <!--<where>-->
            <!--<if test="userName!=null and userName!=''">-->
                <!--and p.user_name like '%${userName}%'-->
            <!--</if>-->

            <!--<if test="punishType!=null and punishType!=''">-->
                <!--and p.punish_type = #{punishType}-->
            <!--</if>-->

            <!--<if test="policeCode!=null and policeCode!=''">-->
                <!--and u.police_code = #{policeCode}-->
            <!--</if>-->

        <!--</where>-->
        <!--)-->

        <!--)-->
    </select>
</mapper>