<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwkj.lzda.dao.PunViolationMapper">
  <resultMap id="BaseResultMap" type="com.mwkj.lzda.model.PunViolation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="job_position" jdbcType="VARCHAR" property="jobPosition" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="violation_level" jdbcType="VARCHAR" property="violationLevel" />
    <result column="violation_type" jdbcType="VARCHAR" property="violationType" />
   <!-- <result column="transfer" jdbcType="VARCHAR" property="transfer" />-->
    <result column="violation_org" jdbcType="VARCHAR" property="violationOrg" />
    <result column="handle_time" jdbcType="VARCHAR" property="handleTime" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="attachment_id" jdbcType="VARCHAR" property="attachmentId" />
    <result column="punish_type" jdbcType="INTEGER" property="punishType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="handle_info" jdbcType="LONGVARCHAR" property="handleInfo" />
    <result column="mistake_fact" jdbcType="LONGVARCHAR" property="mistakeFact" />
    <result column="handle_basis" jdbcType="LONGVARCHAR" property="handleBasis" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
    <select id="findPunViolationStatistics" resultType="com.mwkj.lzda.vo.PunViolationVo">
      SELECT
      id,
      organization_id AS 'orgId',
      organization AS 'orgName',
      violation_level AS 'violationLevelName',
      violation_type AS 'violationTypeName',
      COUNT( 1 ) AS 'count'
      FROM
      pun_violation
      WHERE
      organization_id = #{orgId, jdbcType=INTEGER}
      <if test="null != beginTime ">
        AND create_time &gt; #{beginTime, jdbcType=TIMESTAMP}
      </if>
      <if test="null != endTime ">
        AND create_time &lt; #{endTime, jdbcType=TIMESTAMP}
      </if>
      GROUP BY
      organization_id,
      violation_level,
      violation_type;
    </select>
    <select id="findList" resultType="com.mwkj.lzda.model.PunViolation">
      SELECT
      *
      FROM
      pun_violation
      WHERE 1=1
      <if test="null != orgId ">
        AND organization_id = #{orgId, jdbcType=INTEGER}
      </if>
      <if test="null != violationLevel and '' != violationLevel">
        AND violation_level = #{violationLevel, jdbcType=VARCHAR}
      </if>
      <if test="null != violationType and '' != violationType">
        AND violation_type = #{violationType, jdbcType=VARCHAR}
      </if>
      <if test="null != beginTime ">
        AND create_time &gt; #{beginTime, jdbcType=TIMESTAMP}
      </if>
      <if test="null != endTime ">
        AND create_time &lt; #{endTime, jdbcType=TIMESTAMP}
      </if>
    </select>
</mapper>