<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwkj.lzda.dao.StatisticsMapper">

    <!--涉警报备统计-->
    <select id="statisticPoliceInvolve" parameterType="com.mwkj.lzda.dto.ArchiveStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        select a.count, o.id as organization_id, o.name as organization_name
        from organization o
        left join (
        SELECT organization_id, count(*) as count
        from arc_police_involve
        <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            where time BETWEEN #{beginTime} and #{endTime}
        </if>
        group by organization_id
        ) a on o.id = a.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where o.id = #{organizationId}
        </if>

    </select>

    <!--收受礼品统计-->
    <select id="statisticAcceptGifts" parameterType="com.mwkj.lzda.dto.ArchiveStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        select a.count, o.id as organization_id, o.name as organization_name
        from organization o
        left join (
        SELECT organization_id, count(*) as count
        from arc_gift_info
        <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            where gift_time BETWEEN #{beginTime} and #{endTime}
        </if>
        group by organization_id
        ) a on o.id = a.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where o.id = #{organizationId}
        </if>
    </select>

    <!--操办宴席统计-->
    <select id="statisticBanquetApply" parameterType="com.mwkj.lzda.dto.ArchiveStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        select a.count, o.id as organization_id, o.name as organization_name
        from organization o
        left join (
        SELECT organization_id, count(*) as count
        from arc_banquet_apply
        <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            where activity_time BETWEEN #{beginTime} and #{endTime}
        </if>
        group by organization_id
        ) a on o.id = a.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where o.id = #{organizationId}
        </if>
    </select>


    <!--家人被追究刑事责任统计-->
    <select id="statisticFamilyCriminal" parameterType="com.mwkj.lzda.dto.ArchiveStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        select a.count, o.id as organization_id, o.name as organization_name
        from organization o
        left join (
        SELECT organization_id, count(*) as count
        from arc_family_criminal
        <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            where time BETWEEN #{beginTime} and #{endTime}
        </if>
        group by organization_id
        ) a on o.id = a.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where o.id = #{organizationId}
        </if>
    </select>

    <!--影响公正执行职务报备统计-->
    <select id="statisticAffectBusiness" parameterType="com.mwkj.lzda.dto.ArchiveStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        select a.count, o.id as organization_id, o.name as organization_name
        from organization o
        left join (
        SELECT organization_id, count(*) as count
        from arc_family_criminal
        <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            where time BETWEEN #{beginTime} and #{endTime}
        </if>
        group by organization_id
        ) a on o.id = a.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where o.id = #{organizationId}
        </if>
    </select>

    <!--一般干部被群众信访举报情况登记统计-->
    <select id="statisticPunReport" parameterType="com.mwkj.lzda.dto.ArchiveStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        select a.count, o.id as organization_id, o.name as organization_name
        from organization o
        left join (
        SELECT organization_id, count(*) as count
        from pun_report
        <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            where time BETWEEN #{beginTime} and #{endTime}
        </if>
        group by organization_id
        ) a on o.id = a.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where o.id = #{organizationId}
        </if>
    </select>

    <!-- 表彰统计 -->
    <select id="statisticReward" parameterType="com.mwkj.lzda.dto.RewardStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.RewardStatisticResultDTO">
        select a.count, reward_type, a.organization_id, o.name as organization_name
        from organization o
        left join (
        select organization_id, reward_type, count(*) as count
        from reward r
        <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            where reward_time BETWEEN #{beginTime} and #{endTime}
        </if>
        group by organization_id, reward_type
        <if test="organizationId!=null and organizationId!=''">
            having organization_id = #{organizationId}
        </if>
        ) a on o.id = a.organization_id
    </select>

    <!-- 主体责任 -->
    <select id="statisticResponsibility" parameterType="com.mwkj.lzda.dto.ResponsibilityStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        select a.count, o.id as organization_id, o.name as organization_name
        from organization o
        left join (
        SELECT organization_id, count(*) as count
        from rpt_responsibility_report
        <where>
            <if test="year!=null and year!=''">
                and year = #{year}
            </if>
            <if test="quarter!=null and quarter!=''">
                and quarter = #{quarter}
            </if>
        </where>
        group by organization_id
        ) a on o.id = a.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where o.id = #{organizationId}
        </if>
    </select>

    <!--队伍思想状况统计-->
    <select id="statisticTeamThinking" parameterType="com.mwkj.lzda.dto.ArchiveStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        SELECT o.id as organization_id,o.name as organization_name,r.count as count
        FROM  `organization` o
        left join (SELECT COUNT(*) AS COUNT,time,organization_id FROM `rpt_team_thinking`
        <!--<if test="beginTime ==null || beginTime ==''">-->
            <!--where time=(SELECT DATE_FORMAT(NOW(),'%Y-%m'))-->
        <!--</if>-->
        <if test="beginTime!=null and beginTime!=''">
            WHERE time = #{beginTime}
        </if>
        GROUP BY organization_id
        <!--<if test="organizationId!=null and organizationId!=''">
        HAVING organization_id =#{organizationId}
        </if>-->
        ) r ON o.id=r.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where  o.id=#{organizationId}
        </if>
    </select>

    <!--履责纪实统计-->
    <select id="statisticResponsibilityPerform" parameterType="com.mwkj.lzda.dto.ArchiveStatisticParamDTO"
            resultType="com.mwkj.lzda.dto.ArchiveStatisticResultDTO">
        select a.count,o.id AS organization_id, o.name as organization_name
        from organization o
        left join (
        SELECT organization_id, count(*) as count
        from rpt_responsibility_perform
        <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            where time BETWEEN #{beginTime} and #{endTime}
        </if>
        group by organization_id
        ) a on o.id = a.organization_id
        <if test="organizationId!=null and organizationId!=''">
            where  o.id=#{organizationId}
        </if>
    </select>

</mapper>
